@page 
@model EditModel
@{
    var ContractData = Model.EditContract;
}
<div class="container">
    <div class="row mt-1">
        <h5> Contract type: </h5>
        <div class="col-md-5"> <p> @ContractData.ContractType </p></div>
    </div>

    <form>
    <div class="row mt-1">
        <h5> Weekly hours contracted: </h5>
            <div class="col-md-5"> <p><b> Minimum: </b> @ContractData.MinWeeklyHours </p></div>
            <div class="col-md-5"> <p><b> Maximum: </b> @ContractData.MaxWeeklyHours </p></div>
    </div>

    <div class="row mt-1">
        <h5> Weekly days contracted: </h5>
            <div class="col-md-5"> <p><b> Minimum: </b> @ContractData.MinWeeklyDays </p></div>
            <div class="col-md-5"> <p><b> Maximum: </b> @ContractData.MaxWeeklyDays </p></div>
    </div>

    <div class="row mt-1">
        <h5> Working day shift duration: </h5>
            <div class="col-md-5"> <p><b> Minimum: </b> @ContractData.MinDailyHours </p></div>
            <div class="col-md-5"> <p><b> Maximum: </b> @ContractData.MaxDailyHours </p></div>
    </div>
        <div class="row mt-2">
            <a href="#"> <button> Save </button> </a>
            <a href="#"> <button> Cancel </button> </a>
        </div>
    </form>
</div>