@page
@model WorkersTurnScheduler.Pages.SchedulerArea.Worker.IndexModel
@{
}


<div class=".container">
    <h2>Worker info</h2>
    <div class="row mb-3 mt-5" > 
        <h3>Personal data</h3>
        <div class="col-4">      
            <label> @Html.DisplayNameFor(model => model.Worker.Name): </label>
            <label> @Model.Worker.Name </label>
        </div>
        <div class="col-4">
            <label> @Html.DisplayNameFor(model => model.Worker.Surname): </label>
            <label> @Model.Worker.Surname </label>
        </div>
    </div>
    <div class="row mb-3">
        <h3>Professional details</h3>
        <div class="col-4">
            <label>@Html.DisplayNameFor(model => model.Worker.IsActive)?</label>
            <label> @Model.Worker.IsActive </label>
        </div>
        <div class="col-3">
            <label>@Html.DisplayNameFor(model => model.Worker.HasContract)?</label>
            <label> @Model.Worker.HasContract </label>
        </div>
        @if (Model.Worker.HasContract)
        {
            <div class="col-3">
                <label> @Html.DisplayNameFor(model => model.Worker.Contract.ContractType): </label>
                <label> @Model.Worker.Contract?.ContractType </label>
            </div>
        }
    </div>
    <div class="row">
        <div class="col-12">
            @if (Model.Worker.HasContract)
            {
                <a class="btn btn-primary" href="./{@Model.Worker.Id}/Contract/Index">Contract</a>
            }
            <button type="button" class="btn btn-primary"> Availability </button>
            <button type="button" class="btn btn-secondary" onclick=" history.back()"> Back</button>
        </div>
    </div>
</div>